<div class="jumbotron mt-4">
    <h1 class="display-1 text-center"> Aplicacion de notas</h1><br><br>
        <p class="lead">
           Esta aplicacion fue diseñada por Francisco medina.
        </p>
        <hr class="my-4">
    <a href="https://franmedi.000webhostapp.com/" class="btn btn-primary btn-block">sitio web franmedi</a>

</div>